@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-whitegray w-screen scroll-smooth overflow-x-hidden m-0;
}

#root{
    @apply m-0 p-0 font-poppins;
}

.card_detail_box {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(13, 13, 13, 0.7792366946778712) 61%,
        rgba(13, 13, 13, 0.9332983193277311) 94%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(13, 13, 13, 0.7792366946778712) 61%,
        rgba(13, 13, 13, 0.9332983193277311) 94%
    );
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(13, 13, 13, 0.7792366946778712) 61%,
        rgba(13, 13, 13, 0.9332983193277311) 94%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0d0d0d",GradientType=1);
}
